.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  margin: 0 -1.6rem;
  padding: 1.6rem;
}

.wrapper.first-step {
  justify-content: right;
}

@media screen and (min-width: 942px) {
  .wrapper {
    width: 45.2rem;
    padding: 0;
    margin: 90px 0 0;
  }
}
