.nav-item {
  margin-top: 3rem;
}

.nav-item-info {
  display: none;
}

.nav-item-circle {
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  margin-right: 1.6rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-item.active .nav-item-circle,
.nav-item-circle:hover {
  background-color: var(--white);
  color: var(--marine-blue);
}

.nav-item-circle:last-child {
  margin-right: 0;
}
