.card {
  background-color: var(--white);
  padding: 3rem 2.4rem;
  position: relative;
  top: -7.4rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);
}

.title {
  color: var(--marine-blue);
  margin-bottom: 1.9rem;
}

.description {
  color: var(--cool-gray);
  margin-bottom: 2.7rem;
}
